{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}Welcome !
{% endblock %}

{% block body %}
	<div class="welcome">
		<section class="bodyWelcome p-1">
			<div class="card-body">
				<div class="home">
					<h1 class="card-title start mt-3 mb-5 me-5">
						NEED FOR FLEET
					</h1>
				</div>
				<div class="next positon-absolute">
					<a href="{{ path("app_login")}}"><img src="{{ asset('build/images/click.png') }}" class="next" width="80" height="80" alt="Connextion"/></a>
				</div>
			</div>
		</section>
		<div class="car"></div>
	</div>
	{% block footer %}{% endblock %}
{% endblock %}
