{% extends 'base.html.twig' %}

{% block title %}Véhicule réservé
{% endblock %}

{% block body %}
	<h1 class="text-center text-secondary mt-5 fs-1">Votre véhicule est réservé !</h1>
	<div class="login border rounded-2 border-secondary bg-light shadow mx-2">
		<h1>Merci !</h1>
        <p>Nous confirmons la réservation de votre véhicule. Voici les détails de la réservation :</p>
        <p>Modèle : {{reservation.car.marque}}</p>
        <p>Date de début : {{reservation.date|date('Y-m-d')}}</p>
        <p>Date de fin : {{reservation.datedefin|date('Y-m-d')}}</p>
	</div>
</div>
{% endblock %}
