.title-catalog {
    font-family: $font-title;
    color: $secondary;
}

.card-title {
    font-family: $font-title;
}

.vehicule-name {
    color: $primary;
}


.svg {
    color: $tertiary;
}

.presentation {
    height: 7vh;
}