@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@300&display=swap');

$font-title: 'Audiowide', cursive;
$font-text: 'Lato', sans-serif;

$primary: #1C2025;
$secondary: #F6F6F6;
$tertiary: #DC8A10;

@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    background-color: $primary;
    font-family: $font-text;
}

h1 {
    font-size: 120px;
    font-family: $font-title;
}

h2 {
    font-family: $font-title;
}

h3 {
    font-family: $font-title;
}

ul li {
    font-size: 50px;

}

p {
    font-size: 20px;
}

a {
    font-size: 20px;
}


