{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <h1>Edit Vehicule</h1>

    {{ include('vehicule_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicule_admin_index') }}">back to list</a>

    {{ include('vehicule_admin/_delete_form.html.twig') }}
{% endblock %}
