{% block header %}
	<div class="header bg-secondary">
		<div class="container-fluid bg-secondary text-center">
			<div class="row justify-content-around">
				<div class="col-4">
					<h1 class="text-primary">Need For Fleet</h1>
				</div>
				<div class="col-4">
					<h1 class="fw-bold text-primary">Espace Administrateur</h1>
				</div>
				<div class="col-4">
					<a class="fs-4 text-primary" href="#">Se déconnecter</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}