<nav class="navbar p-3 col-9 fixed-bottom mb-5 m-auto bg-secondary text-black">
	<div class="container text-center">
		<div class="row w-100">
			<div class="item col-3 ps-3">
				<a class="nav-link active text-black" aria-current="page" href="#">
					<i class="fa-sharp fa-solid fa-house text-black"></i>
				</a>
			</div>
			<div class="item col-6">
				<a class="nav-link active text-black" aria-current="page" href="#">
					<i class="fa-solid fa-magnifying-glass ps-3 text-black"></i>
				</a>
			</div>
			<div class="item col-3 ps-4">
				<a class="nav-link active text-black" aria-current="page" href="#">
					<i class="fa-solid fa-user ps-3 text-black"></i>
				</a>
			</div>
		</div>
	</div>
</nav>
